# Assignment 2

Variable `data` shows where data is located. Modify it as needed

In [1]:
data = "gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis/"

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns and the NOC region dataset contains $230$ rows and $3$ columns. They will be merged together by the National Olympic Committee (NOC) region. Both files are comma separated.

**Source:**

Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

Griffin, R, H (2018) 120 years of Olympic history: athletes and results, noc_regions, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#noc_regions.csv

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athlete’s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

**noc_regions.csv**

| Column Name | Data Type | Description/Notes |
|:--|--|:--|
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Region | string |  |
| notes | string |  |

## Upload the data into Google Cloud Storage

Use the paths above to download our two files and upload them to your Google bucket. For consistency use the following path:

`gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis`

and upload the files into *olympics-analysis* directory.

Confirm that files were uploaded successfully and are accessible via the notebook by the following gsutil command:

In [2]:
!gsutil ls {data}

gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis/
gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis/athlete_events.csv
gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis/athlete_events_del.csv
gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis/athlete_events_new.csv
gs://is-843-avp-01/notebooks/jupyter/data/olympics-analysis/noc_regions.csv

## Load the data into Spark

As seen in the [class notes](https://github.com/soltaniehha/Big-Data-Analytics-for-Business/blob/master/05-Basic-DF-Operations/01-Basic-Structured-Operations.ipynb) we can either ask Spark to infer the schema or we explicitely specify it ourselves. For this example we need to specify the schema explicitely since not all the columns will be converted the way we would like to by the default option.

As a reminder, here is how we can define a schema contained of two columns, one string and one integer:

```python
from pyspark.sql.types import StructField, StructType, StringType, LongType

myManualSchema = StructType([
  StructField("ID", LongType(), True),
  StructField("name", StringType(), True)
])

df = spark.read.format("csv")\
  .schema(myManualSchema)\
  .option("header", "true")\
  .option("nullValue", "NA")\
  .load("gs/path/to/file")
```

Modify this code to load athlete_events.csv. Call this DataFrame `athlete_events`:

**Note:** We have "NA" values in our data. This could cause issues when loading the data. To overcome this we need to let Spark know that what string is representing `null` in the data. We can use the option/parameter `nullValue` (as used in the sample code above) and set it to "NA".

In [3]:
from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType

myManualSchema = StructType([
  StructField("ID", LongType(), True),
  StructField("Name", StringType(), True),
  StructField("Sex", StringType(), True),
  StructField("Age", LongType(), True),
  StructField("Height", LongType(), True),
  StructField("Weight", LongType(), True),
  StructField("Team", StringType(), True),
  StructField("NOC", StringType(), True),
  StructField("Games", StringType(), True),
  StructField("Year", LongType(), True),
  StructField("Season", StringType(), True),
  StructField("City", StringType(), True),
  StructField("Sport", StringType(), True),
  StructField("Event", StringType(), True),
  StructField("Medal", StringType(), True)
])

Print the schema of this DataFrame:

In [4]:
from pyspark.sql.functions import avg, col,sum,count


athlete_events = spark.read.format("csv")\
  .schema(myManualSchema)\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .option("nullValue", "NA")\
  .load(data+"athlete_events_new.csv")

athlete_events.count()

271116

In [6]:
# Your answer goes here
athlete_events.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Height: long (nullable = true)
 |-- Weight: long (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: long (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

Print the first 5 rows:

In [26]:
athlete_events.head(5)

[Row(ID=1, Name='A Dijiang', Sex='M', Age=24, Height=180, Weight=80, Team='China', NOC='CHN', Games='1992 Summer', Year=1992, Season='Summer', City='Barcelona', Sport='Basketball', Event="Basketball Men's Basketball", Medal=None),
 Row(ID=2, Name='A Lamusi', Sex='M', Age=23, Height=170, Weight=60, Team='China', NOC='CHN', Games='2012 Summer', Year=2012, Season='Summer', City='London', Sport='Judo', Event="Judo Men's Extra-Lightweight", Medal=None),
 Row(ID=3, Name='Gunnar Nielsen Aaby', Sex='M', Age=24, Height=None, Weight=None, Team='Denmark', NOC='DEN', Games='1920 Summer', Year=1920, Season='Summer', City='Antwerpen', Sport='Football', Event="Football Men's Football", Medal=None),
 Row(ID=4, Name='Edgar Lindenau Aabye', Sex='M', Age=34, Height=None, Weight=None, Team='Denmark/Sweden', NOC='DEN', Games='1900 Summer', Year=1900, Season='Summer', City='Paris', Sport='Tug-Of-War', Event="Tug-Of-War Men's Tug-Of-War", Medal='Gold'),
 Row(ID=5, Name='Christine Jacoba Aaftink', Sex='F', Age=21, Height=185, Weight=82, Team='Netherlands', NOC='NED', Games='1988 Winter', Year=1988, Season='Winter', City='Calgary', Sport='Speed Skating', Event="Speed Skating Women's 500 metres", Medal=None)]

In [7]:
athlete_events.columns

['ID',
 'Name',
 'Sex',
 'Age',
 'Height',
 'Weight',
 'Team',
 'NOC',
 'Games',
 'Year',
 'Season',
 'City',
 'Sport',
 'Event',
 'Medal']

We won't use the following columns, let's drop them from the DataFrame in a persistent way:

* ID
* Games
* Event

In [8]:
athlete_events = athlete_events.drop("ID","Games","Event")

In [9]:
athlete_events.show(5)

+--------------------+---+---+------+------+--------------+---+----+------+---------+-------------+-----+
|                Name|Sex|Age|Height|Weight|          Team|NOC|Year|Season|     City|        Sport|Medal|
+--------------------+---+---+------+------+--------------+---+----+------+---------+-------------+-----+
|           A Dijiang|  M| 24|   180|    80|         China|CHN|1992|Summer|Barcelona|   Basketball| null|
|            A Lamusi|  M| 23|   170|    60|         China|CHN|2012|Summer|   London|         Judo| null|
| Gunnar Nielsen Aaby|  M| 24|  null|  null|       Denmark|DEN|1920|Summer|Antwerpen|     Football| null|
|Edgar Lindenau Aabye|  M| 34|  null|  null|Denmark/Sweden|DEN|1900|Summer|    Paris|   Tug-Of-War| Gold|
|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988|Winter|  Calgary|Speed Skating| null|
+--------------------+---+---+------+------+--------------+---+----+------+---------+-------------+-----+
only showing top 5 rows

 Now load noc_regions.csv. Call this DataFrame `noc_regions`:

In [10]:
regionSchema = StructType([
  StructField("NOC", StringType(), True),
  StructField("Region", StringType(), True),
  StructField("Notes", StringType(), True)
])

noc_regions = spark.read.format("csv")\
  .schema(regionSchema)\
  .option("header", "true")\
  .option("nullValue", "NA")\
  .load(data + "noc_regions.csv")

In [11]:
noc_regions.show(8)

+---+-----------+--------------------+
|NOC|     Region|               Notes|
+---+-----------+--------------------+
|AFG|Afghanistan|                null|
|AHO|    Curacao|Netherlands Antilles|
|ALB|    Albania|                null|
|ALG|    Algeria|                null|
|AND|    Andorra|                null|
|ANG|     Angola|                null|
|ANT|    Antigua| Antigua and Barbuda|
|ANZ|  Australia|         Australasia|
+---+-----------+--------------------+
only showing top 8 rows

### Caching

Since we will be using these two DataFrames a lot in this notebook let's `cache()` them to speed up our execution. Caching allows the DataFrame to be loaded and persist in the memory. If we don't use this option, every time we execute an action our DataFrame gets loaded from our Cloud Storage, which is not ideal and will add to our execution time:

**Note:** Caching is a lazy transformation. It will happen the first time you execute an action against the DataFrame, not when you cache that DataFrame.

In [12]:
athlete_events.cache()

DataFrame[Name: string, Sex: string, Age: bigint, Height: bigint, Weight: bigint, Team: string, NOC: string, Year: bigint, Season: string, City: string, Sport: string, Medal: string]

In [13]:
noc_regions.cache()

DataFrame[NOC: string, Region: string, Notes: string]

## Question 1

What is the minimum and maximum `year`?

In [14]:
from pyspark.sql.functions import min, max
athlete_events.select(min("Year"), max("Year")).show()

+---------+---------+
|min(Year)|max(Year)|
+---------+---------+
|     1896|     2016|
+---------+---------+

## Question 2

Is the following statement True or False?

> Averag age of female athletes who attended the olympic games after 1990 has raised when compared to the era before then.

In [15]:
from pyspark.sql.functions import avg, col

athlete_events.where(athlete_events["Sex"] == "F").where("Year < 1990")\
  .select(avg(col("Age")).alias("avg_female_age_before_1990")).show()

athlete_events.where(athlete_events["Sex"] == "F").where("Year >= 1990")\
  .select(avg(col("Age")).alias("avg_female_age_after_1990")).show()

+--------------------------+
|avg_female_age_before_1990|
+--------------------------+
|        22.034368070953438|
+--------------------------+

+-------------------------+
|avg_female_age_after_1990|
+-------------------------+
|       24.619499568593614|
+-------------------------+

In [3]:
True

## Question 3

How many Gold medals were given to men from 1970 to 2000 (including both years)?

In [16]:
from pyspark.sql.functions import sum, count


#athlete_events\
#    .where(athlete_events["sex"] == "M")\
#    .where(col("year") >= 1970)\
#    .where(col("year") <= 2000)\
#    .where(col("medal") == "Gold")\
#    .count()

athlete_events\
    .where(athlete_events["Year"].between(1970,2000))\
    .where(col("Medal") == "Gold")\
    .where(athlete_events["Sex"] == "M")\
    .count()

3186

## Question 4

How many NOCs attended Summer Olympics 2016 in Rio de Janeiro?

NOC stands for National Olympic Committee. Almost equivalent to a country.

In [17]:
# Your answer goes here

# Your answer goes here
#athlete_events\
#    .where(col("year") == 2016)\
#    .where(col("Season") == "Summer")\
#    .select("NOC").distinct().count()

athlete_events\
    .where(col("Games") == "2016 Summer")\
    .select("NOC").distinct().count()

207

## Question 5

Create two DataFrames, one for the Winter games and one for the Summer games; these DataFrames should include a list of all NOCs that have wone gold medals in the colympics, and their count. Sort these DataFrame by the count in a descending order. Call these DataFrames `winter_gold_count` and `summer_gold_count` respectively. Using these two, answer the following questions:

Which country has the highest gold medal count in the Winter Olympics? How about the Summer Olympics?

In [71]:
# Your answer goes here
from pyspark.sql.functions import desc, col, expr, desc

summer_gold_count = athlete_events.select("NOC").where(col("Season") == "Summer").where(col("Medal") == "Gold")

winter_gold_count = athlete_events.select("NOC").where(col("Season") == "Winter").where(col("Medal") == "Gold")


summer_gold_count\
    .groupby("NOC")\
    .count().alias("Count")\
    .sort(col("Count").desc())\
    .show(5)

winter_gold_count\
    .groupby("NOC")\
    .count().alias("Winter_Gold_Count")\
    .sort(col("Winter_Gold_Count.count").desc())\
    .show(5)

+---+-----+
|NOC|count|
+---+-----+
|USA| 2376|
|URS|  832|
|GBR|  635|
|GER|  591|
|ITA|  518|
+---+-----+
only showing top 5 rows

+---+-----+
|NOC|count|
+---+-----+
|CAN|  305|
|URS|  249|
|USA|  159|
|GER|  153|
|NOR|  151|
+---+-----+
only showing top 5 rows

## Question 6

Using the common field `NOC`, merge `summer_gold_count` and `noc_regions` DataFrames.

Which region takes the 10th place? This is based on the number of gold medals in all of the Summer Olympics in our dataset.

In [72]:
# Your answer goes here
joinExpression = summer_gold_count["NOC"] == noc_regions["NOC"]

#summer_gold_count\
#    .join(noc_regions, on="NOC")\
#    .show(4)

summer_gold_count\
    .join(noc_regions, on="NOC")\
    .groupby("Region")\
    .count().alias("Count")\
    .sort(col("Count").desc())\
    .show(10)

+---------+-----+
|   Region|count|
+---------+-----+
|      USA| 2376|
|   Russia| 1220|
|  Germany| 1074|
|       UK|  635|
|    Italy|  518|
|   France|  465|
|  Hungary|  432|
|Australia|  362|
|   Sweden|  352|
|    China|  335|
+---------+-----+
only showing top 10 rows

In [ ]:
# China (Region) is in 10th position with 335 medals.