In [1]:
df = spark.read.format('bigquery') \
  .option('table', 'is843-team-project-5.IS843P5.merged_cleaned_data') \
  .load()

In [2]:
df.printSchema()

root
 |-- post_id: string (nullable = true)
 |-- profile_id: long (nullable = true)
 |-- location_id: long (nullable = true)
 |-- post_time: timestamp (nullable = true)
 |-- post_type: long (nullable = true)
 |-- post_description: string (nullable = true)
 |-- numbr_likes: long (nullable = true)
 |-- number_comments: long (nullable = true)
 |-- location_name: string (nullable = true)
 |-- location_description: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- profile_name: string (nullable = true)
 |-- profile_description: string (nullable = true)
 |-- following: long (nullable = true)
 |-- followers: long (nullable = true)
 |-- n_posts: long (nullable = true)
 |-- is_business_account: boolean (nullable = true)

In [3]:
df.cache()

DataFrame[post_id: string, profile_id: bigint, location_id: bigint, post_time: timestamp, post_type: bigint, post_description: string, numbr_likes: bigint, number_comments: bigint, location_name: string, location_description: string, city: string, country: string, lat: double, lng: double, profile_name: string, profile_description: string, following: bigint, followers: bigint, n_posts: bigint, is_business_account: boolean]

In [2]:
from pyspark.sql import functions as F

In [26]:
follow_count = df.groupBy('profile_name')\
                .agg(F.sum('followers').alias('Followers')).orderBy('Followers').show(5)
#                     F.sum('comments').alias('sum_of_comments'),\
#                     F.sum('numbr_likes').alias('sum_of_likes'))
#                .orderBy('Followers')
# Needs fixing

+-------------------+---------+
|       profile_name|Followers|
+-------------------+---------+
|    chillbrunchgirl|     null|
|   joanna_stampelos|     null|
|     jackiechristie|     null|
|time_4_memyselfandi|     null|
|peppas_puss_poppins|     null|
+-------------------+---------+
only showing top 5 rows

In [13]:
# Displays the profiles with max number of followers.
follow_count = df.select('profile_name', 'followers', 'number_comments', 'numbr_likes') \
                 .groupBy('profile_name') \
                 .agg(F.sum('followers').alias('max_followers'), 
                      F.sum('number_comments').alias('sum_of_comments'), 
                      F.sum('numbr_likes').alias('sum_of_likes')) \
                 .orderBy(F.col('max_followers').desc())

follow_count.show(10)

+---------------+-------------+---------------+------------+
|   profile_name|max_followers|sum_of_comments|sum_of_likes|
+---------------+-------------+---------------+------------+
|      instagram|   2283661160|          77559|     8205065|
|            433|    658341120|         187652|    18395227|
|       buzova86|    646368786|         123852|     9708394|
|            wwe|    632417172|          26182|     3421494|
|princessyahrini|    406599522|           4024|     2732655|
|  buzzfeedtasty|    393208179|          12521|     1311218|
|       lunamaya|    387246330|          38461|     3174675|
|        ritaora|    364052832|          17977|     3797208|
|  voguemagazine|    358562800|          16188|     2305390|
| chiaraferragni|    358179822|          29524|     7252016|
+---------------+-------------+---------------+------------+
only showing top 10 rows

In [30]:
countries = df.select('country').distinct().count()
print(countries)

235

In [16]:
country_presence = df.groupBy('country') \
                     .agg(F.count('profile_id').alias('count_of_profiles'), 
                          F.sum('numbr_likes').alias('total_likes'), 
                          F.sum('number_comments').alias('total_comments'))\
                    .orderBy(F.col('count_of_profiles').desc())

In [17]:
country_presence.show(10)

+--------------+-----------------+-----------+--------------+
|       country|count_of_profiles|total_likes|total_comments|
+--------------+-----------------+-----------+--------------+
|          null|         16031883| 5412881666|     147270769|
| United States|          1416660|  506588635|      15665567|
|        Russia|           962236|  219609486|       6963038|
|United Kingdom|           862849|  222538386|       5353374|
+--------------+-----------------+-----------+--------------+
only showing top 4 rows

In [31]:
cities = df.select('city').distinct().count()
print(cities)

108054

In [33]:
bus_acc = df.select('profile_id').distinct().where('is_business_account').count()
print(bus_acc)

737849

In [34]:
total_profiles = df.select('profile_id').distinct().count()
print(total_profiles)

1921672

In [35]:
percent_bus_account = round((bus_acc/total_profiles*100),2)
print(percent_bus_account)

38.4

In [42]:
from pyspark.sql.functions import col, year, month
df3 = df.select("post_description")\
        .filter((year(col('post_time')) == 2019) & (month(col('post_time')) == 2) & (dayofmonth(col('post_time')) == 14) & col('post_description').isNotNull() & df.post_description.contains('#'))

In [43]:
df3.count()

2301454

In [44]:
df3.show(4,truncate=False)

In [ ]:
tags_hash=df3.rdd.map(lambda x: x.post_description).collect()

In [ ]:
hash_tags = []
for m in states2:
   for k in m.split():
      if ('#' in k): 
        if (',' in k): k = k.split(',')[0]
        hash_tags.append(k)

max_count = count.most_common()

In [ ]:
print(max_count[0:10])